app-login-form {

    .login-form__buttons {
        float: right;
        padding-left: 30px;
        padding-right: 30px;

        div button:nth-of-type(1) {
            margin-right: 15px;
        }
    }
}
