.profile-view__image-container {
    background-color: lightslategray;
    height: 220px;
}

.profile-view__image {
    padding-top: 20px;
    padding-left: 25%;
    padding-right: 25%;
    max-height: 200px;
}